*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-green{
    color:#30B868;
}


/* design navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding:16px 120px;
    align-items: center;
}


nav img{
    width: 140px;
}


nav .menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}


nav .nav-button button {
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}


/* degin hero */

.hero-container{
    background: url("../assets/hero-bg.png");
    background-position: center;
    width: 100%;
    height: 822px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container .hero-info{
    width: 80%;
    max-width: 1360;
    padding: 189px 120px 337px;
    margin: 0 auto;
    text-align: center;
}

.hero-container .hero-info h1{
    color: #FFFFFF;
    padding: 16px 0px;
    font-size: 60px;
}

.hero-container .hero-info p{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    max-width: 1360px;
}

.hero-info .hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.hero-info .hero-button img{
    vertical-align: middle;
}

.hero-button .button1{
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.hero-button .button2{
    padding: 12px 16px;
    background: none;
    color: #ffffff;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

/* card section */

#card-section{
    padding: 0 120px;
    margin: 0 auto;
    text-align: center;
    background-color: #fafafa;
}


#card-section h2{
    padding-top: 50px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

#card-section p{
    color: #627382;
    margin-bottom: 44px;
}

#card-section .card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card-container .cards{
    background-color: #ffffff;
    padding: 70px 24px 21px;
    border-radius: 5px;
}

.card-container .cards img{
    background-color: #F95555;
    padding: 15px;
    border-radius: 50px;
}

.card-container .cards h3{
    padding: 16px 0;
    font-size: 24px;
}
