*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-green{
    color:#30B868;
}


/* design navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding:16px 120px;
    align-items: center;
}


nav img{
    width: 140px;
}


nav .menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

nav .menu ul a{
    text-decoration: none;
    font-weight: 500px;
    color: black;
}

nav .menu ul a:visited{
    text-decoration: none;
    font-weight: 500px;
    color: black;
}


nav .nav-button button {
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
nav .nav-button button:hover{
    background-color: #d0aa00;
}

/* degin hero */

.hero-container{
    background: url("../assets/hero-bg.png");
    background-position: center;
    width: 100%;
    height: 822px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container .hero-info{
    width: 80%;
    max-width: 1360;
    padding: 189px 120px 337px;
    margin: 0 auto;
    text-align: center;
}

.hero-container .hero-info h1{
    color: #FFFFFF;
    padding: 16px 0px;
    font-size: 60px;
}

.hero-container .hero-info p{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    max-width: 1360px;
}

.hero-info .hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}


.hero-info .hero-button img{
    vertical-align: middle;
}

.hero-button .button1{
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.hero-button .button1:hover{
    background-color: #d0aa00;
}
.hero-button .button2{
    padding: 13px 16px;
    background: none;
    color: #ffffff;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.hero-button .button2:hover{
    background-color: #d0aa00;
}

.hero-info .hero-btn{
    padding: 12px 20px;
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    color: #30B868;
    font-weight: 500;
    font-size: 16px;
}


/* card section */

#card-section{
    padding: 0 120px;
    margin: 0 auto;
    text-align: center;
    background-color: #fafafa;
}


#card-section h2{
    padding-top: 50px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

#card-section p{
    color: #627382;
    margin-bottom: 44px;
}

#card-section .card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card-container .cards{
    background-color: #ffffff;
    padding: 70px 24px 21px;
    border-radius: 5px;
}

.card-container .cards img{
    background-color: #F95555;
    padding: 15px;
    border-radius: 50px;
}

.card-container .cards h3{
    padding: 16px 0;
    font-size: 24px;
}


/* feature section */

#feature-section{
    display: flex;
    gap: 60px;
    padding:120px;
    margin: 0 auto;
}

#feature-section .feature-image img{
    height: 600px;
    width: 600px;
    border-radius: 5px;
}

.feature-info{
    padding: 120px 0;
}

.feature-info h4{
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
}

.feature-info h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.feature-info p{
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}

.feature-info ul{
    list-style-type: none;
    font-weight: bold;
}

.feature-info li{
    margin-bottom: 16px;
    align-items: center;
}

.feature-info li img{
    vertical-align: middle;
    padding-right: 6px;
}


.green-button button{
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 16px;
}

.green-button button:hover{
    background-color: #d0aa00;
    
}


/* challenge box */

#challenge {
   padding: 0 120px 120px;
}

#challenge .challenge-box{
    background-color: #F7F6F2;
    padding: 80px 40px 80px;
    border-radius: 12px;
    text-align: center;
}

#challenge .challenge-box h2{
    font-size: 40px;
    margin-bottom: 16px;
}

#challenge .challenge-box p{
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

#challenge .challenge-box img{
    vertical-align: middle;
}



/* footer design */
footer{
     background-color: #001931;
}
footer .footer-container{
    
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 120px 120px 80px;
    
}

.footer-container .social{
    color: #FFFFFF;
    padding-right: 60px;
}

.footer-container .social a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container .social a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container .social h3{
    margin-bottom: 16px;
}


footer .copyright{
    color: #ffffff;
    /* margin: 30px; */
    padding: 30px 0px 30px;
    text-align: center;
}